* {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #202124;
}

body {
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

span{
    color: #70757a;
    font-size: 13px;
    display: flex;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 10px;
}

a:visited {
    text-decoration: none;
}

.result {
    margin-left: 175px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 100px;
    width: 600px;
}

.result-url {
    margin-bottom: 5px;
}

.result-title {
    font-size: 20px;
    color:  #1A0DAB;
    margin-bottom: 5px;
}

.result-para {
    color: #4D5156;
    font-size: 14px;
}

.bottom-link {
    display: inline-block;
    font-size: 14px;
    padding-right: 25px;
}

#top-header {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#google-logo {
    height: 33px;
    width: 92px;
    border-width: 0px;
    border-style: solid;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    display: flex;
}

#search-bar-wrap {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 690px;
    border-radius: 24px;
    height: 44px;
    margin-left: 30px;
    margin-top: 20px;
}

#search-bar-wrap:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#searchbar {
    background-color: transparent;
    display: flex;
    border: none;
    color: rgba(0, 0, 0, .87);
    outline: none; 
    font: 16px arial, sans-serif;
    margin-left: 20px;
    width: 80%;
}

#clear-icon {
    display: flex;
    height: 12px;
    width: 12px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    border-right: 1px solid #dfe1e5;
}

#voice-icon {
    display: flex;
    height: 20px;
    width: 16px;
    margin-top: 10px;
    margin-left: 15px;
}

#search-icon {
    display: flex;
    height: 25px;
    width: 25px;
    margin-top: 6px;
    margin-left: 15px;
}

#top-right-icons {
    position: absolute;
    margin-right: 20px;
    right: 0;
    display: flex;
    vertical-align: center;
    gap: 10px;
}

#apps-icon {
    height: 25px;
    width: 25px;
    padding-top: 5px;
}

#sign-in {
    color: white; 
    background-color: #1A73E8;
    padding: 9px 15px;
    min-width: 80px;
    margin-left: 8px;
    border: 1px solid transparent;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

#lower-header {
    padding-left: 175px;
    display: flex;
    height: 48px;
    background: #fff;
    color: #70757a;
    font-size: 13px;
    border-bottom: 1px solid #ebebeb;
    align-items: flex-end;
    padding-bottom: 18px;
    gap: 20px;
}

#nav-icon {
    display: flex;
    gap: 10px;
    height: 16px;
    line-height: 16px;
    margin-left: 110px;
    color: #70757a;
    font-size: 13px;
    align-items: center;
   
}

#all-icon {
    display: flex;
    height: 15px;
    padding-right: 5px;
}

#news-icon{
    display: flex;
    height: 14px;
    padding-right: 5px;
    background-color: transparent;
}

#shopping-icon {
    display: flex;
    height: 14px;
    padding-right: 5px;
}

#videos-icon {
    display: flex;
    height: 14px;
    padding-right: 5px;
}

#more-icon {
    display: flex;
    height: 10px;
    padding-right: 5px;
}

#maps-icon {
    display: flex;
    height: 14px;
    padding-right: 5px;
}

#settings-span {
    padding-left: 60px;
    padding-right: 20px;
}

#results-stats {
    font-size: 14px;
    color: #70757a;
    padding-left: 175px;
    padding-top: 8px;
}

#location {
    display: inline-block;
    color: #3c4043;
    font-size: 14px;
    font-weight: bold;
    margin-left: 175px;
}

#location:before {
    content: "• ";
    font-size: 14px;
}

#location-describe {
    display: inline-block;
    color: #70757a;
    font-size: 14px;
}

#bottom-links {
    position: absolute;
    bottom: 0;
    margin-left: 175px;
    padding-bottom: 10px;
}

#bottom-logo {
    width: 300px;
    height: auto; 
    margin-left: 325px;
}

